Flask==2.1.2
Flask-Login==0.6.1
Flask-Migrate==3.1.0
Flask-Minify==0.39
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1

opencv-python==4.5.5.64
opencv-python-headless==4.5.4.60

torch==1.11.0
torchvision==0.12.0

requests==2.27.1

numpy==1.22.4

easydict==1.9
easyocr==1.5.0